@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
}

footer{
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: aquamarine;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}

.h {
    border-radius: 50%;
}
